
<h1 class="text-center">I'll be there in a minute...</h1>
	<div class="jumbotron-well">
		<p class="text-center">Rome wasnt built in a day</p>
	</div>
	<div class="jumbotron-well">
		<p class="text-center">
			Until then come <i class="fa fa-eye"></i> me online @ 
		</P>
	 <ul class="nav nav-pills nav-justified">
			    <li>
              <%= link_to "https://www.facebook.com/jrvazquez11", :target => "_blank" do %>
              <%= image_tag 'facebook-5.png' %>
            <% end %>
          </li>
          <li>
              <%= link_to "http://www.twitter.com/JoseJRVazquez", :target => "_blank" do %>
                <%= image_tag 'twitter-5.png' %>
              <% end %>
          </li>
          <li>
              <%= link_to "https://plus.google.com/u/1/112780471098293430725/posts", :target => "_blank" do %>
                <%= image_tag 'google.png' %>
              <% end %>
          </li>
			 </ul>
	</div>